body{
    font-size: 16px;
    color: black;
}

main{
    padding: 1.5rem 10%;
}

button:focus {outline:0;
}

/* SERVICES */

#services{
    background-color: #F5F5F5;
}

#services h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    text-decoration-line:underline overline;
    font-size: 3rem;
}

.card{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
}

.card:hover{
    box-shadow: 2px 2px 20px #a5a4a4;
}

.card img{
    margin-top: 1rem;
    height: 15rem;
}

.card-text{
    color: rgb(165, 165, 165);
}

.card a:link {
    color: none;
    text-decoration: none;
}

.card a:hover{
    color: none;
}



/* BLOGS */

#blogs{
    background-color: rgb(37, 36, 36);
}

#blogs h1{
    font-family: 'Alfa Slab One', cursive;
    color: rgb(132, 139, 129);
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
}

.date, .by-line{
    color: rgb(104, 102, 102);
}

#blogs p{
    color: whitesmoke;
}

.blog{
    background-color: rgb(51, 51, 51);
}

/*nav bar style*/
body{
  background-color: black;
  background-image: url('office.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}
*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;

}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color:darkslategray;
  font-family: 'Noto Sans JP', sans-serif;
}

.logo{
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 22px;
}

.vita{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.vita li{
  list-style: none;
  spacing: 50px;
}

.vita a{
  color: white;
  text-decoration: none;
  letter-spacing:3px;
  font-size: 14px;
}

.complain{
  display: none;
  cursor: pointer;
}

.complain div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width:1024px){
  .vita{
    width: 60%;
  }
}

@media screen and (max-width:768px){
  body{
    overflow-x: hidden;
  }
  .vita{
     position: absolute;
     right: 0px;
     height: 92vh;
     top: 8vh;
     background-color:darkslategray;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
     transform: translateX(100%);
     transition: transform 0.5s ease-in;
  }
  .vita li{
    opacity:80%;
  }
  .complain{
    display: block;
  }
}

.vita-active{
  transform: translateX(0%);
}

@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
